$hover: rgba(255, 227, 160, 0.59);
@import "./../input.scss";
.datepicker {
  display: block;
  width: 100%;
  background-color: #fff;
  position: relative;
  user-select: none;
  > .sitcontrol {
    padding-left: 1rem;
    padding-right: 2.5rem;
    text-align: center;
    color: #787b7d;
  }
  .caret {
    position: absolute;
    top: 0.5rem;
    color: #bbb;
    padding: 0 0.2rem;
    box-sizing: content-box;
    &.left {
      left: 0.2rem;
    }
    &.right {
      right: 1.5rem;
    }
  }
  > .calendar {
    position: absolute;
    top: 0.5rem;
    right: 0.3rem;
    color: #787b7d;
  }
  &:hover {
    .caret {
      color: #787b7d;
      &:hover {
        color: #111;
      }
    }
  }
  > .picker {
    position: absolute;
    top: 30px;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.96);
    border: 1px solid #ccc;
    box-shadow: 0 1px 5px #ddd;
    border-radius: 7px;
    padding: 10px;
    > div {
      font-size: 1rem;
      position: relative;
      text-align: center;
      font-weight: bold;
      .angle {
        font-style: normal;
        text-align: center;
        width: 1.8rem;
        height: 1.8rem;
        line-height: 1.8rem;
        position: absolute;
        top: 0;
        cursor: pointer;
        border-radius: 50%;
        &:hover {
          background-color: $hover;
        }
        &.left {
          left: 0;
        }
        &.right {
          right: 0;
        }
      }
    }
    &.byday > ul {
      width: 182px;
      font-size: 0;
      padding: 5px 0 0 0;
      li {
        font-size: 0.9rem;
        display: block;
        border-radius: 7px;
        width: 26px;
        height: 26px;
        padding: 2px 4px;
        float: left;
        text-align: center;
        transition: background-color ease-in-out 300ms;
        &:hover {
          background-color: $hover;
          cursor: pointer;
        }
        &.selected {
          background-color: rgba(31, 42, 58, 0.73);
          color: #fff;
        }
        &.today {
          border: 1px #1c5ec9 solid;
        }
        &.header {
          font-size: 0.7rem;
          padding: 0;
          font-weight: bold;
          height: 1rem;
          background-color: transparent;
          cursor: default;
        }
      }
    }
    &.bymonth > ul {
      width: 180px;
      font-size: 0;
      padding: 5px 0 0 0;
      li {
        font-size: 1rem;
        display: block;
        border-radius: 7px;
        width: 60px;
        height: 35px;
        padding: 5px;
        float: left;
        text-align: center;
        transition: background-color ease-in-out 300ms;
        &:hover {
          background-color: $hover;
          cursor: pointer;
        }
        &.selected {
          background-color: rgba(31, 42, 58, 0.73);
          color: #fff;
        }
      }
    }
  }
}
