.inputoption {
  position: relative;
  .list {
    position: absolute !important;
    top: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 0.5rem;
    z-index: 100;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top-color: #e6e6e6;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
    box-sizing: border-box;
    margin-top: -1px;
    max-height: 200px;
    width: 100%;
    font-size: 0.95rem;
    .item {
      padding: 0.2rem;
      color: #222;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      box-sizing: border-box;
      &.picked,
      &:hover {
        background-color: rgba(0, 0, 255, 0.15);
      }
      &.selected {
        background-color: rgba(0, 0, 255, 0.35);
      }
    }
  }
}
.nochoiced {
  color: #888;
}
